<header class="hr">
  <h1 class="page-title fn p-name" property="name">{{ basics.name }}</h1>

  {% if basics.picture.size > 0 %}
    {% include components/hy-img.html class="avatar photo u-photo" img=basics.picture alt=basics.name property="image" %}
  {% endif %}

  {% if basics.label %}
    <p class="h3 faded subline title p-job-title" property="jobTitle">{{ basics.label }}</p>
  {% endif %}
</header>

{% if basics.summary.size > 0 %}
  <p class="note p-note" property="description">
    {{ basics.summary | markdownify | replace:'<p>','' | replace:'</p>','' }}
  </p>
{% endif %}
