{% if resume.publications.size > 0 %}
<section>
  <div class="npb">
  <h2 id="publications" class="h3 hr-bottom">
    {{ strings.resume.publications | default:"Publications" }}
    <span class="symbol {{ icons.publications | default:'icon-book' }}"></span>
  </h2>
  {% for pub in resume.publications %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      {% if pub.releaseDate.size > 0 %}
        <p class="faded">
          <time datetime="{{ pub.releaseDate | date_to_xmlschema }}">{{ pub.releaseDate | date:from_to_format }}</time>
        </p>
      {% endif %}
      <h3 class="h4 faded">
        {% capture name %}{% include components/link.html title=pub.name href=pub.website span_class="bc" %}{% endcapture %}
        {% capture publisher %}<span class="bc">{{ pub.publisher }}</span>{% endcapture %}
        {{ strings.resume.publications_title
          | default:"<!--name--> by <!--publisher-->"
          | replace:"<!--name-->", name
          | replace:"<!--publisher-->", publisher
        }}
      </h3>
    </header>

    {% include components/message.html class="note" text=pub.summary alt="" %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
