{% if resume.skills.size > 0 %}
<section class="npb">
  <h2 id="skills" class="h3 faded hr">
    {{ strings.resume.skills | default:"Skills" }}
    <span class="symbol {{ icons.skills | default:'icon-wrench' }}"></span>
  </h2>
  <dl class="skills">
    {% for skl in resume.skills %}
      <dt class="h4 fl">{{ skl.name }}</dt>
      <dd class="faded clearafter">
        <div class="fr">
          <span class="sr-only">{{ strings.resume.level | default:"Level" }}{{ colon }}</span>
          {% assign level = skl.level | slugify %}
          {% case level %}
            {% when 3 or "3" or "master" or "expert" or "senior" or "professional" %}
              <span class="help" title="{{ skl.level }}">
                <span class="sr-only">{{ skl.level }}</span>
                <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
              </span>
            {% when 2 or "2" or "intermediate" or "amateur" %}
              <span class="help" title="{{ skl.level }}">
                <span class="sr-only">{{ skl.level }}</span>
                <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span>
              </span>
            {% when 1 or "1" or "beginner" or "novice" or "junior" %}
              <span class="help" title="{{ skl.level }}">
                <span class="sr-only">{{ skl.level }}</span>
                <span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
              </span>
            {% when 0 or "0" %}
              <span class="help" title="{{ skl.level }}">
                <span class="sr-only">{{ skl.level }}</span>
                <span class="icon-star-empty"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
              </span>
            {% else %}
              {{ skl.level }}
          {% endcase %}
        </div>
        {% if skl.keywords.size > 0 %}
        <div>
          <span class="sr-only">{{ strings.resume.keywords | default:"Keywords" }}{{ colon }}</span>
          <ul class="tags">
            {% for key in skl.keywords %}
              <li class="tag">{{ key }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}
