{% if resume.volunteer.size > 0 %}
<section>
  <div class="npb">
  <h2 id="volunteer" class="h3 hr-bottom">
    {{ strings.resume.volunteer | default:"Volunteer" }}
    <span class="symbol {{ icons.volunteer | default:'icon-earth' }}"></span>
  </h2>
  {% for vol in resume.volunteer %}
  <section class="no-page-break">
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      {% if vol.startDate.size > 0 %}
        <p class="faded">
          {% include components/from-to.html from=vol.startDate to=vol.endDate format=from_to_format %}
        </p>
      {% endif %}
      <h3 class="h4 faded">
        {% capture position %}<span class="bc">{{ vol.position }}</span>{% endcapture %}
        {% capture organization %}{% include components/link.html title=vol.organization href=vol.website span_class="bc" %}{% endcapture %}
        {{ strings.resume.volunteer_title
          | default:"<!--position--> at <!--organization-->"
          | replace:"<!--position-->", position
          | replace:"<!--organization-->", organization
        }}
      </h3>
    </header>

    {% include components/message.html class="note" text=vol.summary alt="" %}

    <h4 class="sr-only">{{ strings.resume.highlights | default:"Highlights" }}</h4>
    <ul>
      {% for highlight in vol.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
