{% assign provider = site.comments.provider | default:"disqus" %}
{% if provider == "disqus" %}
  {% assign disqus = site.disqus | default:site.disqus_shortname %}
  {% if disqus %}
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <script>!function(w, d) {
      if (d.getElementById("disqus_thread")) {
        if (w.DISQUS) {
          w.DISQUS.reset({
            reload: true,
            config() {
              this.page.url = w.location.href;
              this.page.title = d.title;
            },
          });
        } else {
          w.disqus_config = function disqusConfig() {
            this.page.url = w.location.href;
            this.page.title = d.title;
          };
          w.loadJSDeferred(d.getElementById("_hrefDisqus").href + 'embed.js');
        }
      }
    }(window, document);</script>
  {% endif %}
{% elsif provider == "utterances" %}
  {% assign utterances = site.utterances %}
  {% if utterances.repo %}
    <script src="https://utteranc.es/client.js"
            repo={{ utterances.repo }}
            issue-term={{ utterances.issue-term }}
            label={{ utterances.label }}
            theme={{ utterances.theme }}
            crossorigin= "anonymous"
            async>
    </script>
  {% endif %}
{% elsif provider == "giscus" %}
  {% assign giscus = site.giscus %}
  {% if giscus.repo %}
    <script src="https://giscus.app/client.js"
            data-repo={{ giscus.repo }}
            data-repo-id={{ giscus.repo-id }}
            data-category={{ giscus.category }}
            data-category-id={{ giscus.category-id }}
            data-mapping={{ giscus.mapping }}
            data-reactions-enabled={{ giscus.reaction-enabled }}
            data-emit-metadata={{ giscus.data-emit-metadata }}
            data-theme={{ giscus.theme }}
            data-lang={{ giscus.data-lang }}
            crossorigin={{ giscus.crossorigin }}
            async>
    </script>
  {% endif %}
{% endif %}
