// You can add CSS rules here that will be inlined into each document.
.sidebar a {
  text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
}

.post-title,
.page-title {
  word-break: keep-all;
}

// Sidebar Modification

.sidebar {
  text-align: center;
}

.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: fixed;
}

.sidebar-nav-item {
  padding: .25rem 0;
  width: 100%;
}

.sidebar-nav-subitem {
  @extend .f4;
  width: 100%;
  padding: .25rem 0;
  display: inline-block;
}

.sidebar-nav-subitem:last-child {
  margin: 0 0 4px 0;
}

.list-wrapper {
  text-align: left;
  width: 18rem;
  display: flex;
}

.list-body {
  margin: 0;
  text-align: left;
}

.sidebar-about {
  >a.sidebar-title {
    &::after {
      width: 9rem;
    }
  }
}

// Submenu Insertion

.spread-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.spread-btn:hover {
  color: white;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]~ul {
  height: 0;
  transform: scaleY(0);
  transition: transform .2s ease-out;
}

input[type=checkbox]:checked~ul {
  height: 100%;
  list-style: none;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform .2s ease-out;
}


// Prevent FOUC

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.no-fouc {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  opacity: 0;
  // This line forces the browser to set the opacity to 1 after executing/finishing the animation
  opacity: 1;
}
