.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

// Remove menu button from the top

#_menu {
  display:none;
}

// Resume

.project-date {
  font-weight: var(--font-weight);
  display: inline;
}

// Printing

@media print {
   a[href]:after {
      display: none;
      visibility: hidden;
   }
}
