// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

.clap-count {
  @extend h4;
  color: var(--accent-color);
  display: none;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .flat {
    fill: var(--body-bg);
  }

  .outline {
    fill: var(--accent-color);
  }
}

// Utterances

.utterances {
  max-width: 100%;
}

// Giscus

.giscus,
.giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}

// Resume

.project-date {
  font-weight: var(--font-weight);
  display: inline;
}

// Printing

@media print {
  a[href]:after {
    display: none;
    visibility: hidden;
  }
}

// Image centering

.text-align-center {
  text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// iframe

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  margin: 1rem;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Codeblock

div.highlight {

  >.pre-header {
    overflow: hidden;

    > span {
      font-family: var(--code-font-family);
    }
  }
}

.highlighter-rouge {
  border-radius: 0.7em;
}

// Fancy Codeblock Scrollbar

pre {
  border-color: transparent;
  transition: border-color 0.5s ease;

  &::-webkit-scrollbar {
    height: 8px;
    width: auto;
  }

  &:hover {
    border-color: var(--gray);
    transition: border-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-color: inherit;
    border-radius: 10px;
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
  }
}
