{% assign post = include.post %}

{% assign vars = site.data.variables %}
{% assign break_point_1 = vars.break_point_1 | default:42 %}
{% assign break_point_2 = vars.break_point_2 | default:54 %}
{% assign break_point_5 = vars.break_point_5 | default:86 %}
{% assign content_width   = vars.content_width   | default:42 %}
{% assign content_width_2 = vars.content_width_2 | default:48 %}
{% assign content_width_5 = vars.content_width_5 | default:54 %}

{% assign sizes = '' %}
{% if include.featured %}
  {% capture sizes %}(min-width: {{ break_point_5 }}em) {{ content_width_5 | plus:2 }}rem, 
                     (min-width: {{ break_point_2 }}em) {{ content_width_2 | plus:2 }}rem, 
                     (min-width: {{ break_point_1 }}em) {{ content_width   | plus:2 }}rem, 
                                                        {{ content_width            }}rem
  {% endcapture %}
{% else %}
  {% capture sizes %}(min-width: {{ break_point_5 }}em) {{ content_width_5 | plus:2 | divided_by:2 | minus:0.5 }}rem, 
                     (min-width: {{ break_point_2 }}em) {{ content_width_2 | plus:2 | divided_by:2 | minus:0.5 }}rem, 
                     (min-width: {{ break_point_1 }}em) {{ content_width   | plus:2 | divided_by:2 | minus:0.5 }}rem, 
                                                        {{ content_width                                       }}rem
  {% endcapture %}
{% endif %}
{% assign sizes = sizes | strip_newlines %}

<article class="project-card">
  <a href="{{ post.url | relative_url }}" class="no-hover no-print-link {% unless post.hide_image %}flip-project{% endunless %}" tabindex="-1">
    <div class="project-card-img aspect-ratio sixteen-nine flip-project-img">
      {% if post.image %}
        {% include_cached components/hy-img.html img=post.image alt=post.title sizes=sizes width=864 height=486 %}
      {% endif %}
    </div>
  </a>
  <h3 class="project-card-title flip-project-title">
    <a href="{{ post.url | relative_url }}" class="flip-title">{{ post.title }}</a>
  </h3>
  {% if post.description or post.tagline or post.caption %}
    <p class="project-card-text fine" property="disambiguatingDescription">
      {{ post.tagline | default:post.caption | default:post.description | markdownify | replace:'<p>','' | replace:'</p>','' }}
    </p>
  {% endif %}
  {% assign text = site.data.strings.continue_reading | default:"Continue reading <!--post_title-->" %}
  <a class="fill-card no-hover" href="{{ post.url | relative_url }}" tabindex="-1"><span class="sr-only">{{ text | replace:"<!--post_title-->", post.title }}</span></a>
</article>
