{% assign project = include.project %}

{% if include.featured %}
  {% assign sizes = "(min-width: 90em) 46rem, (min-width: 54em) 40rem, (min-width: 42em) 36rem, 100vw" %}
{% else %}
  {% assign sizes = "(min-width: 90em) 22.5rem, (min-width: 54em) 19.5rem, (min-width: 42em) 17.5rem, 100vw" %}
{% endif %}

<article
  class="project-card"
  {% unless nsd %}vocab="http://schema.org/" typeof="CreativeWork" resource="{{ project.url | relative_url }}#project"{% endunless %}
  >
  <meta property="name" content="{{ project.title }}"/>
  <meta property="image" content="{{ project.screenshot.src | default:project.screenshot.path }}"/>

  <a href="{{ project.url | relative_url }}" class="no-hover no-print-link flip-project" tabindex="-1">
    <div class="project-card-img img sixteen-nine">
      {% if project.screenshot %}
        {% include components/hy-img.html img=project.screenshot alt=project.title sizes=sizes %}
      {% endif %}
    </div>
  </a>
  <h3 class="project-card-title">
    <a href="{{ project.url | relative_url }}" class="flip-title" property="mainEntityOfPage">{{ project.title }}</a>
  </h3>
  {% if project.caption %}
    <p class="project-card-text fine" property="disambiguatingDescription">
      {{ project.caption | markdownify | replace:'<p>','' | replace:'</p>','' }}
    </p>
  {% endif %}
</article>
