---
layout: base
---

{% if page.title.size > 0 %}
  <header>
    <h1 class="page-title">{{ page.title }}</h1>
    {% include components/message.html text=page.description hide=page.hide_description %}
  </header>
  <hr class="sr-only"/>
{% endif %}

{% assign documents = site.documents %}
{% assign featured_categories = documents | where: "type", "category" | sort %}
{% assign featured_tags = documents | where: "type", "tag" | sort %}

{% assign categories = site.categories | sort %}
{% assign tags = site.tags | sort %}

{% for category in featured_categories %}
    <h1 id="{{ category.slug }}" class="hr">
        <a href="{{ category.url | relative_url }}">{{ category.title }}</a>
        {% for site_category in categories %}
            {% if site_category[0] == category.slug %}
                <span class="faded fine">{{ site_category | last | size }}</span>
            {% endif %}
        {% endfor %}
    </h1>
    <ul class="related-posts">
        {% for tag in featured_tags %}
            {% if tag.category == category.slug %}
                <li class="h4">
                    <a href="{{ tag.url | relative_url }}">{{ tag.title }}</a>
                    {% for site_tag in tags %}
                        {% if site_tag[0] == tag.slug %}
                            <span class="faded fine">{{ site_tag | last | size }}</span>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
